.root {
  padding: 4rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, min(100%, 32rem));
  justify-content: center;
  gap: 6rem;
  font-size: 1.3rem;
  overflow-y: auto;
  width: 100%;
  height: 100%;

  .spinner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  div {
    position: relative;

    table {
      width: 100%;
      height: 100%;

      tbody {
        &:before {
          content: '';
          display: block;
          height: 1rem;
          visibility: hidden;
        }
      }

      td {
        height: 2.6rem;
      }

      td:last-child {
        text-align: right;
      }
    }
  }
}
