@use '@/styles/variables' as vars;

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  font-size: 1.4rem;
}

.input {
  padding: 0.5rem 0.9rem;
  border: none;
  border-radius: 0.4rem;
  background-color: vars.$gray-1;
  font-size: 1.4rem;
  width: 14rem;
  text-align: center;
}

.error {
  font-size: 0.85rem;
  color: rgb(206, 20, 20)
}