.button {
  padding: 0.5rem 0.7rem;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
  background-color: rgb(167, 19, 19);
  font-size: 1.3rem;
}

@media screen and (max-width: 580px) {
  .button {
  font-size: 1.1rem;
  }
}