@use '@/styles/variables' as vars;

.root {
  padding: 2rem 2rem 0rem 2rem;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  background-color: vars.$gray-1;
  border-radius: 0.5rem;
  padding: 0.8rem;

  a {
    width: 10rem;
    text-align: center;
  }
}
