@use '@/styles/variables' as vars;

.root {
  flex: 1;
  justify-items: center;
  align-items: center;
  justify-content: space-evenly;
  display: grid;
  grid-template-columns: repeat(auto-fit, max(22rem));
  padding: 2rem 0;
  row-gap: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
}
