.root {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, max(22rem));
  justify-content: center;
  gap: 4rem;
  font-size: 0.9rem;

  tbody:before {
    content: '';
    display: block;
    height: 1rem;
    visibility: hidden;
  }

  td:last-child {
    text-align: right;
  }
}
