.root {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, max(16rem));
  justify-content: center;
  column-gap: 1rem;
  font-size: 0.9rem;

  th:first-child {
    text-align: left;
  }

  th:last-child {
    text-align: right;
  }
  
  td:last-child {
    text-align: right;
  }
}
